.shuffle-parent {
  display: inline-block;
}

.shuffle-parent.is-ready .shuffle-char {
  will-change: auto;
}

.shuffle-char {
  display: inline-block;
}

.shuffle-word {
  display: inline-block;
  white-space: nowrap;
}

.shuffle-space {
  display: inline;
  white-space: normal;
}

.shuffle-line {
  display: block;
}
